.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.panda-img {
  width: 150px;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333;
}

.button-container {
  margin-top: 20px;
}

.yes-btn,
.no-btn {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.yes-btn {
  background-color: #ff4191;
  color: white;
}

.no-btn {
  background-color: #000;
  color: white;
}

.response {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
